/*Task 1*/
.product-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}