.food-container[b-ewrd0fyqs3] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.sort-buttons[b-ewrd0fyqs3] {
    margin-bottom: 20px;
}

.sort-buttons button[b-ewrd0fyqs3] {
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sort-buttons button:hover[b-ewrd0fyqs3] {
    background-color: #0b5ed7;
}
