/*Task 1*/
.product-layout[b-o5ana4vp73] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header[b-o5ana4vp73] {
    background-color: #000000;
    color: white;
    padding: 15px;
    text-align: center;
}

.content[b-o5ana4vp73] {
    flex: 1;
    padding: 20px;
}

.footer[b-o5ana4vp73] {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}